body{
    height: 100%;
    background-image: url("imágenes/fondocat.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.form-box{
    background-color: rgba(165, 42, 42, 0.623);
    max-width: 400px;
    width: 400px;
    height: 250px;
    border: 2px solid rgba(165, 42, 42, 0.616);
    border-radius: 10px;
    position: absolute; top: 25%; left: 37%;
}

.Usuario{
    position: center;
}