.tecla10{
    background-color: #ffff00;
    border: none;
    padding: 8px 182px;
    color: #fff;
    margin: 1px 1px;
    text-align: center;
    cursor: pointer;
}
.tecla11{
    background-color: #0cb7f2;
    border: none;
    padding: 8px 182px;
    color: #fff;
    margin: 1px 1px;
    text-align: center;
    cursor: pointer;
}
.tecla12{
    background-color: #0000ff;
    border: none;
    padding: 8px 182px;
    color: #fff;
    margin: 1px 1px;
    text-align: center;
    cursor: pointer;
}

.a, .tecla10, .tecla11, .tecla12{
    text-decoration: none;
}

.a, .tecla10:hover, .tecla11:hover, .tecla12:hover{
    color: #fff;
}